:root {
    --white: #FFFFFF;
    --black: #000000;
    --color-1: #06283D;
    --color-2: #256D85;
    --color-3: #47B5FF;
    --color-4: #DFF6FF;
    --gap: 10px;
    --column-px: 36px;
    --column-border: 5px;
    --card-border: 3px;

}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.3em;
    font-size: 14px;
    /* background-color: var(--tan-4);
    padding: 2vmin;
    height: 100vh; */
  }
  
.App {
    height: 100vh;
    display: grid;
    grid-template-rows: 40px 50px 1fr;
    line-height: 1.3 em;
    background-color: var(--color-1)
  }
  
.navbar {
    padding-left: var(--gap);
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    background-color: var(--color-2);
}

.boardbar {
    padding-left: var(--gap);
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    background-color: var(--color-3);
}

.board {
    display: flex;
    margin: 0 var(--gap) var(--gap);
    gap: var(--gap);
    /* allow x-axis scroll  */
    overflow-x: auto;
}
/* customize the scrollbar */
.board::-webkit-scrollbar {
    /* hide the basic scrollbar */
    -webkit-appearance: none;
}
/* add new vertical scrollbar */
.board::-webkit-scrollbar:horizontal {
    width: 11px;
}

.board::-webkit-scrollbar-thumb {
    background-color: var(--color-2);
    border-radius: 5px solid var(--color-2);
}

.column {
    flex: 0 0 auto;
    width: 300px;
    height: calc(100% - var(--gap));
}

/* >* == select all child elements recursively */
.column > * {
    background-color: var(--color-4);
    color: var(--color-1);
    padding: 0 8px;
}

.column header {
    padding-left: 15px;
    height: var(--column-px);
    line-height: var(--column-px);
    font-size: 16px;
    font-weight: bold;
    border-top-left-radius: var(--column-border);
    border-top-right-radius: var(--column-border);
}

.column footer {
    padding-left: 15px;
    height: var(--column-px);
    line-height: var(--column-px);
    border-bottom-left-radius: var(--column-border);
    border-bottom-right-radius: var(--column-border);
}

.column ul {
    list-style-type: none;
    margin: 0;
    max-height: calc(100% - var(--column-px) - var(--column-px));
    overflow-y: auto;
}

.column ul::-webkit-scrollbar {
    -webkit-appearance: none;
}

.column ul::-webkit-scrollbar:vertical {
    width: 14px;
}

.column ul::-webkit-scrollbar-thumb {
    background-color: var(--color-3);
    border: 4px solid transparent;
    border-radius: 8px;
    background-clip: padding-box;
}

.column li {
    background-color: var(--white);
    padding: var(--gap);
    border-radius: var(--card-border);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}

/* Do not apply <li> style (above) to the last child */
.column li:not(:last-child) {
    margin-bottom: var(--gap);
}
