@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

:root {
    --white: #FFFFFF;
    --black: #000000;
    --color-1: #06283D;
    --color-2: #256D85;
    --color-3: #47B5FF;
    --color-4: #DFF6FF;
    --gap: 10px;
    --column-px: 36px;
    --column-border: 5px;
    --card-border: 3px;

}

body {
    margin: 0;
    font-family: 'Secular One', sans-serif, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.3em;
    font-size: 14px;
    padding: 2vmin;
    height: 100vh;
  }
  
.App {
    height: 100vh;
    display: grid;
    grid-template-rows: 40px 50px 1fr;
    line-height: 1.3 em;
    background-image: url('./../public/bg.jpg');
  }
  
.navbar {
    padding-left: var(--gap);
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    background-color: var(--color-3);
}

.container {
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
    padding: 0 20px;
}

.submitBtn {
  width: 10%;
}

.newTaskForm {
  display: block;
  text-align: center;
}

Table {
  text-align: center;
}